.button {
  font-family: inherit;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  padding: 8px 20px;
  border: none;
  border-radius: 4px;
  color: $color-white;
  background-color: $color-primaty;
}
