.container {
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0 20px;
  max-width: 320px;
  width: 100%;

  @media (min-width: $tablet-width) {
    max-width: $tablet-width;
  }

  @media(min-width:$desktop-width) {
    padding: 0 40px;
    max-width: $desktop-width;
  }
}
